# JAICP / Just AI Chat API proxy for KB answers
JAICP_TOKEN=
JAICP_HOST=bot.jaicp.com

# Micro Leasing Calculator
ML_CALCULATOR_TOKEN=

# SMS Assistent
SMS_USER=
SMS_PASSWORD=
SMS_SENDER=

# Optional
AMO_WEBHOOK_URL=https://core.leadconnector.ru/mikroleasing/webhooks/just_ai/zhu2utnbn1hivdnvy0lvbjqrvgzqdz09
PORT=3000
HTTP_TIMEOUT_MS=4500
KB_TIMEOUT_MS=2500
ML_TIMEOUT_MS=4500
